<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.aditi.org/course/scheduler"
			class = "org.aditi.course.scheduler.courseScheduler.CourseSchedulerPackage"
			genModel = "model/generated/CourseScheduler.genmodel" />
	</extension>
</plugin>
